// boilerplate
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

// functions and variables

$std-font-size: 1.6rem;
$big-header-font: 4rem;
$medium-header-font: 3rem;
$small-header-font: 2.2rem;

$dark-blue: #121c27;
$blue: #353b45;
@mixin backgroundImage($url) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), transparent), url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// actual styling

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: $dark-blue;

  nav {
    display: flex;
    color: white;
    min-height: 10vh;
    padding: 2rem;
    align-items: center;
    width: 90vw;
    margin: auto;
    flex-wrap: wrap;

    h1 {
      flex: 1 1 40rem;
      font-family: "Pattaya", sans-serif;
      font-weight: 400;
      font-size: 2.2rem;
    }

    ul {
      display: flex;
      flex: 1 1 40rem;
      font-size: $std-font-size;
      justify-content: space-around;
      list-style: none;
    }
  }
}

#landing-page {
  min-height: 90vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include backgroundImage("./img/landing-page.jpg");

  h1 {
    font-size: $big-header-font;
  }

  h2 {
    font-weight: 400;
    padding: 2rem;
    font-size: $std-font-size;
  }

  button {
    color: white;
    font-size: $std-font-size;
    background-color: #486d99;
    border: none;
    padding: 2rem 6rem;
    margin-top: 2rem;
  }
}

#new-york-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include backgroundImage("./img/new-york-page.png");
  position: relative;
  overflow: hidden;

  .cloud {
    width: 100vw;
    position: absolute;
    animation: cloud 6s ease-in-out infinite;
  }

  #cloud1 {
    top: 0;
    right: 0;
    z-index: 0;
  }

  #cloud2 {
    top: 5vh;
    right: 0;
    z-index: -1;
  }

  div {
    width: 90vw;
    margin: auto;
    padding-bottom: 10rem;
    z-index: 1;

    h1 {
      font-size: $big-header-font;
      text-decoration-line: underline;
      text-underline-offset: 1rem;
      text-decoration-thickness: 0.5rem;
    }

    h2 {
      font-weight: 400;
      margin-top: 3rem;
      font-size: $std-font-size;
    }
  }
}

#card-page {
  min-height: 100vh;
  header {
    background-color: $blue;
    color: white;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      font-size: $big-header-font;
      margin: 2rem;
    }

    h2 {
      font-size: $std-font-size;
      margin: 2rem;
      font-weight: 400;
    }
  }
  #cards {
    width: 90vw;
    margin: auto;
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .card {
      text-align: center;
      min-width: 10vw;
      min-height: 40vh;
      display: flex;
      flex-direction: column;
      flex: 1 1 25rem;
      margin: 2rem 5rem;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 20px 20px rgba(0, 0, 0, 0.1);

      .icon {
        background: $blue;
        img {
          max-width: 15%;
          margin: 2rem;
        }
      }

      h1 {
        font-size: $small-header-font;
        padding: 2rem;
      }

      p {
        font-size: $std-font-size;
        font-weight: 400;
        padding: 2rem;
      }
    }
  }
}

// nav wrapping
@media (max-width: 933px) {
  nav h1 {
    text-align: center;
    padding: 1rem;
  }
}

@media (max-width: 660px) {
  #new-york-page {
    div {
      margin: auto auto auto 5vw;
      width: 65vw;
    }
  }
}
// mobile view
@media (max-width: 426px) {
  html {
    font-size: 50%;
  }
}

@keyframes cloud {
  0% {
  }
  50% {
    transform: translate(10%, -15%);
  }
  100% {
  }
}
